<% if (title) { %>
    <h1 class="page-title">
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li class="error-item">
                <%= error.msg %>
            </li>
        <% }) %>
    </ul>
<% } %>
<div id="loginContainer">
    <form action="/inv/management/addInventory" method="post">
        <span>* Indicates required fields</span>
        <label for="inv_make">Make *</label>
        <input type="text" name="inv_make" id="inv_make" value="<%- locals.inv_make %>" required>

        <label for="inv_model">Model *</label>
        <input type="text" name="inv_model" id="inv_model" value="<%- locals.inv_model %>" required>

        <label for="inv_year">Year *</label>
        <input type="number" name="inv_year" id="inv_year" value="<%- locals.inv_year %>" required>

        <label for="inv_description">Description *</label>
        <textarea name="inv_description" id="inv_description" required placeholder="Enter the description"><%- locals.inv_description %></textarea>

        <label for="inv_image">Image</label>
        <input type="text" name="inv_image" id="inv_image" value="<%- locals.inv_image %>">

        <label for="inv_thumbnail">Thumbnail</label>
        <input type="text" name="inv_thumbnail" id="inv_thumbnail" value="<%- locals.inv_thumbnail %>">

        <label for="inv_price">Price *</label>
        <input type="number" name="inv_price" id="inv_price" value="<%- locals.inv_price %>" required>

        <label for="inv_miles">Miles *</label>
        <input type="number" name="inv_miles" id="inv_miles" value="<%- locals.inv_miles %>" required>

        <label for="inv_color">Color *</label>
        <input type="text" name="inv_color" id="inv_color" value="<%- locals.inv_color %>" required>

        <label for="inv_classification">Classification *</label>
        <select name="inv_classification" id="inv_classification" required>
            <%= classificationList %>
        </select>

        <label><button type="submit" name="submit" id="submit">Submit</button></label>
    </form>
</div>
